<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>markt.io</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
<link href='https://css.gg/info.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>

<div class="hero-vertical-center">
  <h2>404 Error Page does not exist</h2>

  <button class="returnHomeButton" onclick="goHome()">Return</button>
</div>




<script type="text/javascript">
  function goHome()
  {
    window.location = "../";
  }
</script>

  </body>
</html>
