<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>markt.io</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
  </head>
  <body scroll="no">

    <div class="hero">
      <div class="hero-horizontal-center">
        <h2>markt.io</h2>
      </div>

      <div class="hero-vertical-center">

          <h3 class="hero-stock-input-label">Enter a stock symbol</h3>
          <input class="hero-stock-input" autocomplete="off" type="text" name="" value="" placeholder="NVDA...">

      </div>


    </div>












    <!-- SCRIPTS -->
    <script
  src="https://code.jquery.com/jquery-3.6.0.slim.js"
  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascript/hero-input.js"></script>
  </body>
</html>
