<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>markt.io</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
<link href='https://css.gg/info.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body scroll="no">

    <div class="loadingOverlayGrapic">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <h2 id="stockOutput" class="stockOutput"></h2>
    </div>

    <div class="loadingOverlay"></div>

    <div class="disable-overlay"></div>

    <div class="site-logo">
      <a onclick="mainPage()"><h2 class="site-logo-button">markt.io</h2></a>
    </div>

    <div class="page-content">
      <div class="hero">
        <div class="hero-horizontal-center">
          <h2>markt.io</h2>
    </div>
        <div class="hero-vertical-center">

            <!-- <h2 class="hero-stock-input-label">Enter a stock symbol</h2> -->

            <div class="hero-stock-input-label-content">
              <div class="hero-stock-input-label-content-container">
                <p class="hero-stock-input-label-content-container-text">Enter</p>

                <ul class="hero-stock-input-label-content-container-list">
                  <li class="hero-stock-input-label-content-container-list-item">a stock.</li>
                  <li class="hero-stock-input-label-content-container-list-item">a symbol.</li>
                  <li class="hero-stock-input-label-content-container-list-item">a market.</li>
                  <li class="hero-stock-input-label-content-container-list-item">a currency.</li>
                </ul>
              </div>
            </div>

            <form class="hero-stock-form" id="heroStockForm" method="post">
              <div class="hero-stock-input-container">
                <input class="hero-stock-input" style="text-transform:uppercase" id="stockInput" spellcheck="false" autocomplete="off" type="text" name="stockSymbolInput" value="" placeholder="NVDA...">
                <div class="hero-stock-input-icon-container" >
                  <a><i id="heroStockInputIcon" class="gg-info hero-stock-input-icon hero-stock-input-icon-animtion"></i></a>
                </div>
              </div>
            </form>
        </div>




      </div>

      <div class="main-content">
        <div class="stock-data-info">
          <div class="stock-data-info-header">
            <h2>Stock Data</h2>
          </div>
          <hr class="rounded">
        <p class="stockSearchInfoDialogStockPrice"></p>
        </div>
      </div>
    </div>




    <div id="stockSearchInfoDialog" class="stock-search-info-dialog">
    <p>Enter a stock symbol into the input to recive live and historic data associated with entered symbol.</p>
    </div>





    <!-- SCRIPTS -->

  <script type="text/javascript" src="/javascript/hero-input.js"></script>
  </body>
</html>
