<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>markt.io</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
<link href='https://css.gg/info.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  </head>
  <body scroll="no">

    <div class="hero">
      <div class="hero-horizontal-center">
        <h2>markt.io</h2>
      </div>

      <div class="hero-vertical-center">

          <h2 class="hero-stock-input-label">Enter a stock symbol</h2>
          <form class="hero-stock-form" action="" method="post">
            <div class="hero-stock-input-container">
              <input class="hero-stock-input" autocomplete="off" type="text" name="" value="" placeholder="NVDA...">
              <div class="hero-stock-input-icon-container" >
                <a><i id="heroStockInputIcon" class="gg-info hero-stock-input-icon"></i></a>
              </div>
            </div>
          </form>

      </div>

    <div id="stockSearchInfoDialog" class="stock-search-info-dialog">
    <p>Enter a stock symbol into the input to recive live and historic data associated with entered symbol.</p>
</div>


    </div>












    <!-- SCRIPTS -->

  <script type="text/javascript" src="/javascript/hero-input.js"></script>
  </body>
</html>
