body {
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  font-family: 'Cairo', sans-serif;
  color: white;
  overflow: hidden;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* HERO CONTENT STYLES START */

.hero
{
  transform-origin: center center;
}

.hero-horizontal-center {
  margin: auto 0;
  width: 100%;
  text-align: center;
  transform-origin: center center;
}

.hero-vertical-center
{
  padding-top: 5%;
  margin: auto 0;
  width: 100%;
  text-align: center;
  transform-origin: center center;
}

.hero-content
{

}

/* HERO CONTENT STYLES END */

.hero-stock-input-container
{
  display: inline-flex;
height: auto;
width: 100%;
justify-content: center;
  transition: transform 500ms, background-color 250ms;
}
.hero-stock-input-icon-container
{
  justify-content: center;
  margin: auto 0;
  text-align: center;
  transform-origin: 50% 50%;
  transform: translate(-35px, 0px);
}

.hero-stock-input-icon
{
  color: white;
  opacity: 0.5;
  transition: 500ms;
}

.hero-stock-input-icon:hover
{
  opacity: 1;
    transform: scale(1.1);
  cursor: pointer;
}

.hero-stock-input-icon-error
{
  transform: rotate(180deg);
}


.hero-stock-input-label
{
  font-size: 35px;

}

.hero-stock-input
{
  font-family: 'Cairo', sans-serif;
  width: 40%;
  opacity: 0.5;
  padding:10px;
 border:0;
 box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
transform-origin: center center;
  transition: transform 500ms, background-color 250ms;
}

.hero-stock-input-container:hover
{
  transform: scale(1.05);
}

.hero-input-error-color-change
{
  background-color: red;
  color: white;
}

.hero-input-error
{
  animation: errorShakeAnimation 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.hero-input-error-color-change::-webkit-input-placeholder
{
  color: white;
}

@-webkit-keyframes errorShakeAnimation {
  10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
}


.stock-search-info-dialog
{
  display: none;
  position: absolute;
  text-align: left;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px 5px;
  font-size: 15px;
  width: 20%;
  color: gray;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-family: 'Cairo', sans-serif;
  opacity: 1;

}

.css-selector {
    background: linear-gradient(270deg, #169473, #aec1bc);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
