body {
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  font-family: 'Cairo', sans-serif;
  color: white;
  overflow: hidden;

-webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.site-logo
{
 justify-content: center;
 display: inline-flex;
   transition: 1s;
   position: absolute;
   margin: auto 0;
   z-index: 5;

text-align: center;
transform-origin: center center;
transform: translate(40%, -120%);
}

.site-logo-button
{
  transform-origin: center center;
     transition: 1s;
}

.site-logo-button:hover
{
transform: scale(0.95);
cursor: pointer;
opacity: 0.5;
}

.site-logo-next-newPage
{
  transform: translate(40%, -15%);
}


/* HERO CONTENT STYLES START */

.hero
{
  transform-origin: center center;
}

.hero-horizontal-center {
  margin: auto 0;
  width: 100%;
  text-align: center;
  transform-origin: center center;
}

.hero-vertical-center
{
  padding-top: 5%;
  margin: auto 0;
  width: 100%;
  text-align: center;
  transform-origin: center center;
}

.hero-content
{

}

/* HERO CONTENT STYLES END */

.hero-stock-input-container
{
  display: inline-flex;
height: auto;
width: 40%;
justify-content: center;
  transition: transform 500ms, background-color 250ms;


}
.hero-stock-input-icon-container
{
  justify-content: center;
  margin: auto 0;
  text-align: center;
  transform-origin: 50% 50%;
  transform: translate(-35px, 0px);
  width: 0%;
}

.hero-stock-input-icon
{
  color: white;
  opacity: 0.5;
  transition: 500ms;
  padding: 5px;
}

.hero-stock-input-icon:hover
{
  opacity: 1;
    transform: scale(1.1);
  cursor: pointer;
}

.hero-stock-input-icon-error
{
  transform: rotate(180deg);
}


.hero-stock-input-label
{
  font-size: 35px;

}

.hero-stock-input
{
  font-family: 'Cairo', sans-serif;
  width: 100%;
  opacity: 0.5;
  padding:10px;
 border:0;
 box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
transform-origin: center center;
  transition: transform 500ms, background-color 250ms;


}

.hero-stock-input::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgba(26,33,64,1);
}

.hero-stock-input::selection {
  color: white;
  background: rgba(26,33,64,1);
}

.hero-stock-input-container:hover
{
  transform: scale(1.05);
}

.hero-input-error-color-change
{
  background-color: red;
  color: white;
}

.hero-input-error
{
  animation: errorShakeAnimation 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.hero-input-error-color-change::-webkit-input-placeholder
{
  color: white;
}

@-webkit-keyframes errorShakeAnimation {
  10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
}


.stock-search-info-dialog
{
  display: none;
  position: absolute;
  text-align: left;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px 5px;
  font-size: 15px;
  width: 20%;
  color: gray;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-family: 'Cairo', sans-serif;
  opacity: 1;

}

.css-selector {
    background: linear-gradient(270deg, #169473, #aec1bc);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.disable-overlay
{
  display: none;
  opacity:    0;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}



.hero-stock-input-label-content {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;


  font-size: 35px;
  line-height: 50px;
  color: #ecf0f1;


  height: auto;
    padding-bottom: 2%;
}
.hero-stock-input-label-content-container {
  font-weight: 600;
  overflow: hidden;
  height: 50px;
  padding: 0 50px;
}

.hero-stock-input-label-content-container:after, .hero-stock-input-label-content-container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 50px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.hero-stock-input-label-content-container-text {
  display: inline;
  float: left;
  margin: 0;
}
.hero-stock-input-label-content-container-list {
  color: #6ab04c;
  margin-top: 0;
  padding-left: 100px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.hero-stock-input-label-content-container-list-item {
  line-height: 50px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}



/* Loading Object */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.main-content{
    padding-top: 40px;
position:absolute;
width: 100%;
display: grid;

    grid-template-columns: 1fr 1fr;
    left:0;
    margin: 0 auto;
}


.stock-data-info
{
  position:inline-flex;
  text-align: center;
  background: white;
  height: 200px;
  margin: 2.5%;
  border-radius: 5px 5px;
  font-size: 15px;
  width: 95%;
  color: gray;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-family: 'Cairo', sans-serif;
  opacity: 0.5;
  transition: 500ms;
  left: 0;
  right: 0;
}

.stock-data-info hr{
  background-color: rgba(81,84,115,1);
}

.stock-data-info:hover
{
  transform: scale(1.05);
}

.stock-data-info-header
{
  color: rgba(81,84,115,1);
  font-size: 12px;
}


.loadingOverlay
{
  /* transform: translateY(50%); */
  vertical-align: middle;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
    top: 0;
z-index: 15;
backdrop-filter: blur(6px);
filter: blur(6px);
left: 0;
}

.loadingOverlayGraphic
{
  transform: translateY(40%);
  vertical-align: middle;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 16;
}

.page-content
{
  transition: 2s;
  width: 100%;
  position: absolute;
margin: 0 auto;
left: 0;
}

.page-content-next-page
{
  transform: translateY(-78%);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: lighter;
}

.returnHomeButton
{
  font-family: 'Cairo', sans-serif;
  width: 20%;
  opacity: 0.5;
  padding:10px;
 border:0;
 box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
transform-origin: center center;
  transition: transform 500ms, background-color 250ms;
  font-size: 18px;
}

.returnHomeButton:hover
{
  transform: scale(0.95);
  cursor: pointer;
}

.returnHomeButton:active
{
  opacity: 0.5;
  transform: scale(0.5);
}
